@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #333;
    color: #FFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
h1 {
    font-weight: 900;
    font-size: 1.8rem;
    text-transform: uppercase;
}
  
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
    text-transform: capitalize;
}
  
.project-link {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    margin-top: 5px;
}
  