html {
    margin: 0;
    font-family: sans-serif;
}
 
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

span {
    display: block;
}
  
.button {
    width: 100px;
    height: 100px;
    /* border: solid black 1px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    margin: 0.3rem;
    display: inline-block;
}