* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 20px;
}

button {
  padding: 0.6rem;
  border: none;
  background-color: #FFF;
  color: #333;
  border-radius: 20px;
  margin: 2rem;
}